<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MacroViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MacroViewer.Properties.Settings>
      <setting name="LastFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="BrowserID" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value />
      </setting>
      <setting name="HTTP_HP" serializeAs="String">
        <value />
      </setting>
      <setting name="SupSig" serializeAs="String">
        <value>Please let me know if this works</value>
      </setting>
      <setting name="ChangeSig" serializeAs="String">
        <value />
      </setting>
      <setting name="IncludeHPKB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FillAlpha" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveUnkUrls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditedSig" serializeAs="String">
        <value />
      </setting>
      <setting name="SpecialWord" serializeAs="String">
        <value />
      </setting>
      <setting name="UseMarkers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="In" serializeAs="String">
        <value />
      </setting>
      <setting name="OfferAltSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sPPrefix" serializeAs="String">
        <value>init</value>
      </setting>
      <setting name="LongestExpectedURL" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="sEmail" serializeAs="String">
        <value>josephy@stateson.net</value>
      </setting>
    </MacroViewer.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>